Repository kuoruan/react-ssr: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

feat: update eslint config
  .eslintrc.js
Due: eslint

fix: update fetch lib
  src/fetch/index.ts
Due: eslint

feat: add jwt token support
  .env
  package.json
  src/api/User.ts
  src/api/index.ts
  src/api/types.ts
  src/http/HttpError.ts
  src/http/index.ts
  src/http/types.ts
  src/index.tsx
  src/server/app.tsx
  src/store/index.ts
  src/store/system/actions.ts
  src/store/system/reducer.ts
  src/store/system/selectors.ts
  src/store/system/thunks.ts
  src/store/system/types.ts
  src/views/about/About.tsx
  yarn.lock
Due: eslint

fix: update selector path for login check
  src/components/PrivateRoute.tsx
Due: eslint

feat: update api and others
  src/api/index.ts
  src/api/types.ts
  src/components/PrivateRoute.tsx
  src/components/RoutesSwitch.tsx
  src/configure/api.ts
  src/index.tsx
  src/server/app.tsx
  src/server/gzip.ts
  src/server/serve.ts
  src/server/types.ts
Due: eslint

refactor: update api proxy
  .env
  src/api/index.ts
  src/api/types.ts
  src/configure/api.ts
  src/http/index.ts
  src/http/types.ts
  src/server/app.tsx
  src/server/types.ts
Due: eslint

refactor: refactor server app and update api class
  src/api/index.ts
  src/api/types.ts
  src/configure/api.ts
  src/http/index.ts
  src/http/types.ts
  src/server/app.ts
  src/server/app.tsx
  src/server/handlers.ts
  src/server/render.tsx
  src/server/serve.ts
  src/server/types.ts
  src/server/utils.ts
Due: eslint

feat: add token get and refresh api
  src/server/app.tsx
Due: eslint

fix: fix error when upgrade to typescript 4.0
  package.json
  src/views/about/index.ts
  src/views/not-found/index.ts
  src/views/protected/index.ts
  src/views/topic/Topic.tsx
  src/views/topic/index.ts
  yarn.lock
Due: eslint

chore(oleads): upgrade eslint-plugin-react
  package.json
  yarn.lock
Due: none

feat: update webpack config
  .babelrc.js
  .env
  config/client/webpack.config.base.js
  config/client/webpack.config.dev.js
  config/client/webpack.config.prod.js
  config/server/webpack.config.dev.js
  config/webpack.common.js
  config/webpack.dev.js
  package.json
  src/http/types.ts
  src/index.tsx
  src/server/Html.tsx
  src/server/app.ts
  src/server/handlers.ts
  src/server/render.tsx
  src/server/types.ts
  src/server/utils.ts
  tailwind.config.js
  yarn.lock
Due: eslint

ci(dependabot): set update schedule to weekly
  .dependabot/config.yml
Due: none

chore: fallback to webpack 4
  package.json
  tailwind.config.js
  yarn.lock
Due: eslint

feat: bump to webpack v5
  config/client/webpack.config.base.js
  config/client/webpack.config.dev.js
  config/server/webpack.config.dev.js
  config/webpack.common.js
  config/webpack.dev.js
  package.json
  src/server/app.ts
  webpack.config.js
  yarn.lock
Due: eslint

build: fix build error
  config/webpack.prod.js
Due: eslint

ci: add dependabot automerge support
  .github/workflows/dependabot-automerge.yml
Due: none

ci: squash marge dependabot pull requests
  .github/workflows/dependabot-automerge.yml
Due: none

feat: remove loadable components
  .babelrc.js
  .stylelintrc.js
  assets.json
  config/client/webpack.config.base.js
  config/client/webpack.config.prod.js
  config/conf.js
  map.html
  package.json
  src/assets/scss/variables.scss
  src/index.tsx
  src/server/app.ts
  src/server/render.tsx
  src/views/about/index.ts
  src/views/home/index.ts
  src/views/login/index.ts
  src/views/not-found/index.ts
  src/views/protected/index.ts
  src/views/topic/index.ts
  yarn.lock
Due: eslint, stylelint

feat: fix script and style tags render
  map.html
  package.json
  src/server/render.tsx
  yarn.lock
Due: eslint

chore: clean code
  assets.json
Due: none

feat: add assets middleware
  config/client/webpack.config.base.js
  config/conf.js
  src/@types/global.d.ts
  src/server/app.ts
  src/server/middleware/assetsParser.ts
  src/server/render.tsx
  tsconfig.json
Due: eslint

feat: add stylelint-config-standard
  .stylelintrc.js
  package.json
  src/assets/scss/tailwind.scss
  yarn.lock
Due: eslint, stylelint

build: fix dependabot automerge
  .github/workflows/dependabot-automerge.yml
Due: none

feat: 🎸 use run-script-webpack-plugin
  config/server/webpack.config.dev.js
  package.json
  yarn.lock
Due: eslint

feat: update eslint config and apply code style
  .eslintrc.js
  src/server/Html.tsx
  src/server/app.ts
  src/server/handlers.ts
  src/server/utils.ts
  src/store/index.ts
  src/store/rootReducer.ts
  src/store/system/selectors.ts
  src/store/types.ts
  src/views/about/About.tsx
  src/views/home/Home.tsx
  src/views/login/Login.tsx
  src/views/not-found/NotFound.tsx
  src/views/protected/Protected.tsx
  src/views/topic/Topic.tsx
Due: eslint

feat: update stylelint config
  .stylelintrc.js
Due: eslint

feat: clean code and update
  package.json
  src/@types/redux-thunk.d.ts
  src/App.tsx
  src/api/index.ts
  src/assets/scss/tailwind.scss
  src/configure/history.ts
  src/http/HttpError.ts
  src/http/index.ts
  src/serviceWorker.ts
  src/views/home/Home.tsx
  src/views/not-found/NotFound.tsx
  src/views/protected/Protected.tsx
  src/views/topic/Topic.tsx
  yarn.lock
Due: eslint, stylelint

feat: update tailwindcss config
  tailwind.config.js
Due: eslint

chore(dependabot): update config file
  .github/dependabot.yml
Due: none

ci: update automerge github token
  .github/workflows/dependabot-automerge.yml
Due: none

ci(dependabot): update automerge
  .github/workflows/dependabot-automerge.yml
Due: none

ci(dependabot): use personal access token
  .github/workflows/dependabot-automerge.yml
Due: none

Delete dependabot.yml
  .github/dependabot.yml
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{scss,less,css}
